.container {
  border: 2px solid #A0A0A0;
  border-radius: 16px;
  padding: 34px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container > h1 {
  color: #FFF;
  line-height: 0.9;
  text-transform: uppercase;
}

.container > section {
  background-color: #FFF;
  border-radius: 16px;
  padding: 16px;
  min-width: 100px;
  
  line-height: 1;
  text-align: center;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.container > section strong {
  color: blue;
  font-size: 0.825rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.container > section em {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
}